@charset "UTF-8";

/* CFG GERAL */







/* CONTEINER CAIXA PAI */
div.conteiner{
    background-color: aqua;
    display: flex;
    flex-flow: row nowrap;
}

div.item{
    background-color: rgb(136, 136, 136);
    border: 1px solid rgb(0, 0, 0);
    text-align:center;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 1;
}

































