@charset "UTF-8";

/* CFG GERAL */







/* CONTEINER CAIXA PAI */
div.conteiner{
    background-color: aqua;

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    height: 400px;
    

}

div.item{
    background-color: rgb(136, 136, 136);
    border: 1px solid rgb(0, 0, 0);
    text-align:center;
    padding:20px;
    
}



#i1{

    align-self: 0;
}

#i2{
    
    align-self: stretch;
}

#i3{
    align-self: flex-end;
}

#i5{
    align-self: center;
}

#i6{
    align-self: stretch;

}

#i7{
    align-self: stretch;
}
































