@charset "UTF-8";

/* CFG GERAL */







/* CONTEINER CAIXA PAI */
div.conteiner{
    /* background-color: aqua; */
    display: flex;
    flex-flow: row wrap;
    
}

/* CAIXA FILHO */
div.item{
    background-color: rgb(136, 136, 136);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    text-align:center;
    font-size:25px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    color: white;
    border: none;
    margin: 5px;
    flex: auto;
    /*flex: auto;*/ /*PREENCHE OS ESPAÇOS VAZIOS NO CONTEINER*/
}


































