@charset "UTF-8";

/*------------------ CFG GERAL------------------------ */
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: lightgrey ;
}
/* ---------------------------------------------------- */


/* --------------------CABRÇALHO----------------------- */
header {
    background-color: rgb(184, 184, 184);
}

header > h1{
    padding: 10px;
    text-align: center;
}





/* ---------------MENU HANBURGUER---------------------- */
#burguer{
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(71, 71, 71);
}

#burguer:hover{
    background-color: white;
    color: black;
    
}
/* ---------------------------------------------------- */







/* ------------------------MENU------------------------ */

menu {
    display: none;
}

menu > ul{
    list-style-type: none ;
}

menu  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(102, 102, 102);
    border: 1px solid gray;
    color: white;
    text-align: center;
}   

menu > ul >li > a:hover{
    background-color: gray;
}
/* ---------------------------------------------------- */






/* -----------------CONTEUDO PRINCIPAL----------------- */
main {
    width: 90vw;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

article > h2{
    padding-bottom: 20px; /*CRIA ESPAÇO ENTRE EM BAIXO*/
}

article > P{
    text-align: justify;/*ESPAÇ0 ENTRE LETRAS MELHORA A LEITURA*/
    margin-bottom: 20px;/*ESPAÇO EM BAIXO DE CADA PARAGRAFO*/
    text-indent: 20px; /*ESPAÇO NA PRIMEIRA LINHA DO TEXTO LD ESQUERDO*/
}
/* ----------------------------------------------------- */








/* -------------------------CONTEINER------------------- */
.conteiner1{
    display: flex;
    width:90%;
    margin: 10px auto;
    /* border: 1px solid black; */
}



/* ----------------CONTEUDO DO CONTEINER----------------- */
.conteudo1 {
    display: block;
    /* background-color: rgba(207, 36, 36, 0.182); */
    border-radius: 2px 50px ;
    
}
/* ------------------------TITULO------------------------ */
.conteudo1 h2 {
    text-align: center;
    color: blueviolet;
    text-transform: uppercase;
    margin-bottom: 10px ;
}
/* -----------------------PARAGRAFO----------------------- */
.conteudo1  p{
    display: inline-block;
    font-weight: bold;
    text-indent: 1.3em;
    text-align: justify;
    margin-bottom:20px ;
    padding: 20PX;
    line-height: 1.5em; /*ESPAÇO DE LINHAS DO PARAGRAFO DE BAIXO*/
    border-radius: 2px 50px ;
    background-color: rgba(128, 128, 128, 0.182);
}
/* --------------------------------------------------------- */






/* ---------------------------CANAIS------------------------ */
.cardcanais{
    display: flex;
    width:90%;
    margin: 10px auto;
    /* border: 1px solid black; */
}

/* ------------------------TITULO------------------------ */
.ccanais h2 {
    text-align: center;
    color: rgb(226, 43, 156);
    text-transform: uppercase;
    margin-bottom: 10px ;
}
/* -----------------------PARAGRAFO----------------------- */
.ccanais  p{
    display: inline-block;
    font-weight: bold;
    text-indent: 1.3em;
    text-align: justify;
    margin-bottom:20px ;
    padding: 20PX;
    line-height: 1.5em; /*ESPAÇO DE LINHAS DO PARAGRAFO DE BAIXO*/
    border-radius: 2px 50px ;
    background-color: rgba(108, 108, 108, 0.182);
}
/* ------------------------------------------------------- */







/* --------------------------FILMES-------------------------- */
.cardfilmes{
    display: flex;
    width:90%;
    margin: 10px auto;
    /* border: 1px solid black; */
}

/* ------------------------TITULO------------------------ */
.cfilmes h2 {
    text-align: center;
    color: rgb(46, 43, 226);
    text-transform: uppercase;
    margin-bottom: 10px ;
}
/* -----------------------PARAGRAFO----------------------- */
.cfilmes  p{
    display: inline-block;
    font-weight: bold;
    text-indent: 1.3em;
    text-align: justify;
    margin-bottom:20px ;
    padding: 20PX;
    line-height: 1.5em; /*ESPAÇO DE LINHAS DO PARAGRAFO DE BAIXO*/
    border-radius: 2px 50px ;
    background-color: rgba(108, 108, 108, 0.182);
}
/* ------------------------------------------------------- */







/* --------------------------SERIES-------------------------- */
.cardseries{
    display: flex;
    width:90%;
    margin: 10px auto;
    /* border: 1px solid black; */
}

/* ------------------------TITULO------------------------ */
.cseries h2 {
    text-align: center;
    color: rgb(226, 43, 43);
    text-transform: uppercase;
    margin-bottom: 10px ;
}
/* -----------------------PARAGRAFO----------------------- */
.cseries  p{
    display: inline-block;
    font-weight: bold;
    text-indent: 1.3em;
    text-align: justify;
    margin-bottom:20px ;
    padding: 20PX;
    line-height: 1.5em; /*ESPAÇO DE LINHAS DO PARAGRAFO DE BAIXO*/
    border-radius: 2px 50px ;
    background-color: rgba(108, 108, 108, 0.182);
}
/* ------------------------------------------------------- */















